body {
    background-color: rgb(116, 167, 255);
}

#resume {
    display: flex;
    justify-content: space-around;
    gap: 4em;

    a {
        font-size: 1.8em;
        color: #000000;
        text-decoration: none;
    }

}

.container {
    margin-top: 22em;
    display: flex;
    justify-content: center;
    .content {
        width: 60%;
        // height: 46rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10vw;
        padding: 5em;
    


        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        #profile {
            #prf-cont {
                overflow: hidden;
                width: 16vw;
                height: 16vw;
                border-radius: 25px;
                background-color: aliceblue;

                background: rgba( 255, 255, 255, 0.25 );
                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 4px );
                border: 1px solid rgba( 255, 255, 255, 0.18 );

                img {
                    position: absolute;
                    left: -14px;
                    top: -34px;
                    z-index: -1;
                    width: 17vw;
                }
            }

        }

        #message {
            h1{
                font-size: clamp(10px, 2vw, 24px);
            }
            p {
                font-size: clamp(8px, 2vw, 17px);
            }
        }

        

        .box1 {
            width: 21em;
            height: 21em;
            position: absolute;
            left: -10em;
            top: -10em;
            
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }

    }

    .box2 {
        width: 25vw;
        height: 25vw;
        position: absolute;
        right: 9em;
        bottom: 14em;
        z-index: -1;
        
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
}