body {
    background-color: rgb(116, 167, 255);
}

#resume {
    display: flex;
    justify-content: space-around;
    gap: 4em;

    a {
        font-size: 1.8em;
        color: #000000;
        text-decoration: none;
    }

}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
    .content {
        width: 60%;
        // height: 46rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10vw;
        padding: 5em;
    


        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        #profile {
            #prf-cont {
                // overflow: hidden;
                width: 15vw;
                height: 30vh;
                border-radius: 25px;
                // background-color: aliceblue;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgba( 255, 255, 255, 0.25 );
                background-image: url("/resources/img/me-tranparent.png");
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;

                box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
                backdrop-filter: blur( 4px );
                border: 1px solid rgba( 255, 255, 255, 0.18 );

                img {
                    height: 30vh;
                    width: 15vw;
                }
            }

        }

        #message {
            h1{
                font-size: clamp(10px, 2vw, 24px);
            }
            p {
                font-size: clamp(8px, 2vw, 17px);
            }
        }

        

        .box1 {
            width: 13vw;
            height: 18vh;
            position: absolute;
            left: -10em;
            top: -8em;
            
            background: rgba( 255, 255, 255, 0.25 );
            box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
            backdrop-filter: blur( 4px );
            border-radius: 10px;
            border: 1px solid rgba( 255, 255, 255, 0.18 );
        }

    }

    .box2 {
        width: 25vw;
        height: 25vh;
        position: absolute;
        right: 9em;
        bottom: 14em;
        z-index: -1;
        
        background: rgba( 255, 255, 255, 0.25 );
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 4px );
        border-radius: 10px;
        border: 1px solid rgba( 255, 255, 255, 0.18 );
    }
}

@media screen and (max-width: 900px){

    .container {
       
        .content {
            flex-direction: column;
           
            #profile {
                #prf-cont {
                    width: 44vw;
                    height: 44vw;
    
                    img {
                        width: 47vw;
                    }
                       
                }
    
            }
    
            #message {
                h1{
                  
                }
                p {
                 
                }
            }
    
            
    
            .box1 {
               
            }
    
        }
    
        .box2 {
           
        }
    }
    
}