html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
* {

  box-sizing: border-box;
  

  body {

    height: 100vh;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    // background: #002651;
    background-repeat: no-repeat;

    header {
      padding: 1vw;
      margin-bottom: 4vw;
      
      // navigation
      #header {
        display: flex;
        justify-content: space-between;
        margin: 1em 10em;

        #navigation {
          display: flex;
          justify-content: space-around;
          gap: 4em;

          #res {
            font-size: 2em;
            text-decoration: none;
            color: #ffffff;
            background-color: #2e2e2e;
            padding: 0.5em 2em;
            transition: 0.3s ease-in-out;
          }
          a {
              font-size: 1.8em;
              color: #000000;
              text-decoration: none;
          }

          a:hover {
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: #000000;
            color: transparent;
          }

          #res:hover {
            color: #000000;
            background-color: #ffffff;

          }
        }
      }

    }
    ul {
      list-style: none;
    }
    
  }

}