// @import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@200;300;400;500;700&display=swap');
body{
  // height: 100vh;
  header{
    background-color: rgba(255, 255, 255, 0.765);
    backdrop-filter: blur(6px);
    z-index: 1;
  }
}

#hamburger{
  display: none;
}

.nav{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 5%;

  #logo{
    #logo-prmry{
      display: block;
    }
    #logo-invert{
      display: none;
    }
  }
  #logo:hover{
    #logo-prmry{
      display: none;
    }
    #logo-invert{
      display: block;
    }
  }

  #navigation{
    display: flex;
    gap: 2%;
    margin: 0;

    a{
      text-decoration: none;
      color: black;
      transition: 0.3s ease-in-out;
      border-radius: 12px;
    }
    a:hover{
      background-color: black;
      color: white;
    }
    
  }
  
}


@media screen and (max-width: 800px){
  .nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5% 5%;
  
    #navigation{
      display: none;
      gap: 2%;
      margin: 0;
  
      a{
        text-decoration: none;
        color: black;
        transition: 0.3s ease-in-out;
        border-radius: 12px;
      }
      a:hover{
        background-color: black;
        color: white;
      }
      
    }
    
  }
}
