body {
    // background-color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 4vw;
    
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 3em;
        h1 {
            font-size: clamp(5rem, 2vw, 15rem);
            width: 100%;
        }
        .projects {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: 40px;
            a {
                width: 18vw;
                height: 18vw;
                margin: 0;
                border-radius: 12px;
                transition: 0.5s ease-in-out;

                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                animation: cards 0.5s forwards ease-in-out;
                

                @keyframes cards {
                    0% {
                    transform: rotate(0) translateX(0) translateY(-100px);
                    opacity: 0;
                    }
                    100% {
                    transform: rotate(0) translateX(0px) translateY(0);
                    opacity: 1;
                    
                    }
                } 
            }  

            :hover {
                transform: scale(1.1);
                box-shadow: 0px 20px 50px rgba(77, 77, 77, 0.644);
            }
        }
    }
}


@media screen and (max-width: 900px){
    .container {
        width: 100%;
        padding: 4vw;
        
        .content {
            width: 100%;
            h1 {
            }
            .projects {
                display: flex;
                flex-wrap: wrap;
                width: 100%;
                justify-content: center;
                a {
                    width: 95%;
                    height: 24em;
                }
                
            }
        }
    }
  }